* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Genev, Verdana, sans-serif;
    background-color: aqua;
}
.navbar{
    position: sticky;
    background-color: aquamarine;
    box-shadow: 0 2px 4px red;
}
.nav-logo img{
    width: 100px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 32px;
    max-width: 1200px;
    margin: 0 auto;
}
.nav-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    list-style: none;
}
.nav-link{
    color: black;
    text-decoration: none;
    font-size: 14pt;
    font-weight: 500;
    padding: 8px 16px;
}
.nav-link:hover{
    background-color: rgba(0, 47, 255, 0.274);
}
@media screen and (max-width: 768px) {
    .nav-container{
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;

    }
}

