.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px;
}
.pokemon-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 16px;
}
.pokemon-card {
    background-color: aquamarine;
    border-radius: 24px;
    box-shadow: inset;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex:calc(33.333% - 32px);
    max-width: calc(33.333% - 32px);
    min-width: 320px;
}
.pokemon-image {
    width: 100%;
    height: 250px;
    object-fit: contain;
    background-color: rgba(41, 178, 212, 0.795);
}
.pokemon-info {
    padding: 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
}
.pokemon-name {
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin: 0%;
}
.pokemon-type {
    padding: 8px 16px;
    border-radius: 20px;
    color: black;
    font-size: 16px;
    font-weight: 500;
}
.type-electric {
    background-image: linear-gradient(60deg, rgb(2, 62, 233) 0%, cyan 100%);
}
.type-grass{
    background-image: linear-gradient(60deg, rgb(44, 238, 131) 0%, cyan 100%);
}
.type-fire {
    background-image: linear-gradient(60deg, rgb(233, 34, 19) 0%, rgb(255, 238, 0) 100%);
}
.type-water {
    background-image: linear-gradient(60deg, rgb(28, 182, 243) 0%, cyan 100%);
}
.type-normal {
    background-image: linear-gradient(60deg, rgb(176, 173, 199) 0%, rgb(254, 255, 254) 100%);
}
.type-ghost {
    background-image: linear-gradient(80deg, rgb(160, 56, 219) 0%, rgb(0, 238, 255) 100%);
}
.type-psychic {
    background-image: linear-gradient(80deg, rgb(224, 65, 177) 0%, cyan 100%);

}
.pokemon-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px blue ;
}
